{
  "env": {
    "node": true,
    "commonjs": true,
    "es2021": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "no-console": 0,
    "no-useless-escape": 0,
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "complexity": ["error", { "max": 3 }],
    "max-lines": ["error", { "max": 170 }],
    "max-statements": ["error", { "max": 10 }, { "ignoreTopLevelFunctions": true }]
  },
  "overrides": [
    {
      "files": [ "src/constants/*.js" ],
      "rules": {
        "max-lines": ["error", { "max": 500 }]
      }
    },
    {
      "files": [ "src/**/*.test.js" ],
      "rules": {
        "max-lines": ["error", { "max": 1500 }],
        "max-statements": ["error", { "max": 40 },
          { "ignoreTopLevelFunctions": true }
        ]
      }
    }
  ]
}
